{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h4>ADD A BOOK</h4>
        <form action="{{ url_for('addBook') }}" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description">
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <select class="form-control" name="genre">
                    <option value="Fiction">Fiction</option>
                    <option value="Nonfiction">Nonfiction</option>
                    <option value="Mystery">Mystery</option>
                    <option value="SciFi">Science Fiction</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Educational">Educational</option>
                    <option value="Biography">Biography</option>
                </select>
            </div>
            <button type="submit" name="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}